body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #555;
    color: #fff;
}

section {
    padding: 40px;
    text-align: center;
}

section h2 {
    color: #333;
    font-size: 36px;
}

section p {
    font-size: 20px;
    line-height: 1.6;
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* training.css */

.training-programs {
    padding: 40px;
    text-align: center;
}

.program {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.program h3 {
    color: #333;
    font-size: 24px;
}

.program p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.program:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}