@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #514f50;
    --secondary-color: #2c292a;
    --accent1-color: #A92323;
    --accent2-color: #f5f5f5;
}

body {
    margin: 1px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%
}

.logo {
    align-items: left;

}

.logo img {
    max-width: 300px;
    background-color: white;

}

nav {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

nav li {
    display: inline-block;
    margin-right: 20px;

}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border: #f5f5f5;
    padding: 20px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: #A92323;
    padding: 20px;
}

.navagation {
    background-color: #514f50;
    background-color: black;
    padding: 20px;
    text-align: center;
    width: 100%
}

.hero {
    text-align: center;
    margin-top: 0px;
    justify-content: center;
}

.h1 {
    display: inline-block;
    border: 1px solid black;
    padding: 100px;
    align-items: center;

}


.image-section {
    display: grid;
    margin-top: 40px;
    text-align: center;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "button1 img button5"
        "button2 img button6"
        "button3 img button7"
        "button4 img button8";
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    grid-area: img;
    justify-self: center;



}

.image-section button1 {
    grid-area: button1;
}

.image-section button2 {
    grid-area: button2;
}

.image-section button3 {
    grid-area: button3;
}

.image-section button4 {
    grid-area: button4;
}

.image-section button5 {
    grid-area: button5;
}

.image-section button6 {
    grid-area: button6;
}

.image-section button7 {
    grid-area: button7;
}

.image-section button8 {
    grid-area: button8;
}

.map {

    display: grid;
    justify-items: center;
    margin: 0 auto;
}




.bikeShopMap img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.button-column-1 {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.button-column-2 {
    display: grid;
    margin: 0 20px;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    line-height: 20px;
}





/* --------------------------------------